.footer {
  border: 1px solid gray;
  /* padding-top: 80px; */
}

.footer > .inner {
  border: 1px solid gray;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.footer > .inner > div {
  display: block;
}

.footer > .inner > .footerlogo {
  display: block;
  /* margin-bottom: 20px; */
}
.footerlogo > img {
  height: 30px;
  width: 200px;
}

/* .footer>.inner>.footermenu {
  margin-bottom: 15px;
  list-style: none;
  border: 1px solid red;
  font-size: 12px;
} */
.footer > .inner > .footermenu {
  margin-bottom: 15px;
  list-style: none;
  /* border: 1px solid red; */
  font-size: 14px;
  display: block;
  width: 100%;
  height: 17px;
  margin-left: -35px;
  font-weight: bold;
}

.footer > .inner > .footermenu > li {
  position: relative;
  float: left;
  margin-right: 10px;
  /* padding-left: 10px; */
  display: list-item;
  text-align: center;
  /* border: 1px solid blue; */
  padding: 0px;
}

.footer > .inner > .footermenu > li > a {
  display: block;
  font-size: 12px;
  text-decoration: none;
  color: black;
}
.footer > .inner > .footermenu > li > a::after {
  content: "l";
  /* display : absolute; */
  margin-left: 15px;
}
.footer > .inner > .footermenu > li:last-child a::after {
  content: "";
}

.footer > .inner > .address {
  /* border: 1px solid gray; */
  width: 980px;
  font-size: 12px;
  line-height: 1.5;
}

.footer > .inner > .address > span {
  /* border: 1px solid gray; */
}
.footer > .inner > .copyright {
  /* border: 1px solid gray; */
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 0px;
}
